div {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#borderless {
    border: 0px;
    background: #FFFFFF;
}

.border th, .border td {
    border: 1px solid black;
    padding: 5px;
}

.colorless {
    background: #FFFFFF;
}

th {background: #999999}
tr:nth-child(odd) {background: #FFFFFF;}
tr:nth-child(even) {background: #CCCCCC;}

